<div class="container-fluid h-max">
    <div class="h-100 row justify-content-center">
        <div class="col-12 p-0">
            <div class="component-content-container card mx-2 mb-2">
                <div class="card-body h-100">
                    <div *ngIf="currentUser">
                        <span>Aktuális felhasználó:</span>
                        <br>
                        <span>Vezetéknév: {{currentUser.lastName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        <br>
                        <span>Keresztnév: {{currentUser.firstName}}</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>