<div class="container-fluid h-max">
    <div class="h-100 row justify-content-center">
        <div class="col-12 p-0">
            <div class="component-content-container card mx-2 mb-2">
                <div class="card-body h-100">
                    <ul *ngIf="users">
                        <span>Összes felhasználó:</span>
                        <li *ngFor="let user of users">
                            <span>Vezetéknév: {{user.lastName}}</span>
                            <br>
                            <span>Keresztnév: {{user.firstName}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>