<div class="container login-container">
    <div class="card">
        <h4 class="card-header">
            <img src="../assets/img/companyLogo.png" height="130px">
        </h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Felhasználónév</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="text" 
                            formControlName="username" 
                            class="form-control rounded-right" 
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                            placeholder="Felhasználónév"/>
                        <div *ngIf="f.username.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.username.hasError('required')">A felhasználónév kitöltése kötelező.</div>
                            <div *ngIf="f.username.hasError('minlength') || f.username.hasError('maxlength')">A felhasználónév 6-20 karakter hosszú lehet!</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Jelszó</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="password" 
                            formControlName="password" 
                            class="form-control rounded-right" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            placeholder="Jelszó" />
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.password.hasError('required')">A jelszó kitöltése kötelező.</div>
                            <div *ngIf="f.password.hasError('minlength') || f.password.hasError('maxlength')">A jelszó 6-20 karakter hosszú lehet!</div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" [disabled]="loading || f.username.hasError('required') || f.password.hasError('required')" class="btn btn-secondary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Bejelentkezés
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>
